[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/p-ranav/argparse
[submodule "ext/mingw-std-threads"]
	path = ext/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads
